* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section */
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #003366;
    color: #fff;
    height: 200px;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

a:hover {
    color: #4da6ff;
}

h3 {
    color: #4da6ff;
}

ul {
    display: flex;
    padding: 10px;
    margin: 20px;
}

.venue {
    /* display: block; */
    direction: rtl;
    margin: 20px;
    padding: 10px;
}

.logo {
    font-size: 25px;
    font-weight: 100;

}
/* header2 section */
.para {
    background-color: #b0d2f5;
    height: 150px;
    text-align: center;

}

#h3 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 100;
    margin-top:0;

}

.text {
    
    color:black;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* main section */
.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;

}
#heading{
    font-size: 1.5rem;
    padding: 10px;
}
.para-1{
    width:500px;
    
    padding: 15px;
    
}
.paragraph{
    font-size: 20px;
    margin:10px;
    
}
#list{
    font-size: 18px;
}
/* registration form */
.form{
    border-left: 2px solid lightgrey;
    padding: 30px;
}
.label{
    font-size: 20px;
    color: #4da6ff;
}

.input-box{
    padding: 10PX;
    border: 1PX solid lightgray;
    border-radius: 5px;
    margin: 10px;
}
.select{
    padding:10px;
    border-radius: 5px;
    margin: 10px;
}
.btn {
    background-color: #003366;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}
.btn:hover{
    scale: 0.80;
    border: none;
    box-shadow: 0px 0px 40px #4da6ff;
}

/* footer section */

.footer{
    display: flex;
    background-color: #003366;
    align-items: center;
    justify-content: space-between;

}
.copy{
    margin-left:60px ;
    margin-right: 60px;
}
small{
    font-size: 1rem;
    color: #4da6ff;
}